<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container-fluid text-center m-2">
        <h2>Manage Users</h2>
        <a class="h3 text-decoration-none" th:href="@{/users/new}">Add New Users</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <td>ID</td>
                    <td>E-mail</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="user: ${listUsers}">
                    <tr>
                        <td>[[${user.id}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>
                            <a class="h5 text-decoration-none" th:href="@{'/user/edit/' + ${user.id}}">Edit</a>
                            <a class="h5 text-decoration-none" th:href="@{'/user/delete/' + ${user.id}}">Remove</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>

    </div>

</body>
</html>